/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./tom-select.css";

@import "tailwindcss/utilities";

[x-cloak] {
    display: none;
}